Installer/build
Installer/Installer.dproj
Installer/Installer.dproj.local
Installer/Installer.identcache
Installer/Installer.~dsk
*.dcu
*.dproj
*.identcache
*.~dsk
*.~*~
*.local
*.log
*.stat
*.cbk
Installer-deprecated/Installer.exe
*.tvsconfig
*.mes
